<a href="https://colab.research.google.com/github/isaiahsthomas/Time-Series-Analysis-Financial-Data/blob/main/bioenergy_production_analysis_with_plotly.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [81]:
import pandas as pd
import numpy as np
!pip install geopandas
from google.colab import files

Requirement already satisfied: geopandas in /usr/local/lib/python3.7/dist-packages (0.10.2)
Requirement already satisfied: fiona>=1.8 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.21)
Requirement already satisfied: pandas>=0.25.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.3.5)
Requirement already satisfied: pyproj>=2.2.0 in /usr/local/lib/python3.7/dist-packages (from geopandas) (3.2.1)
Requirement already satisfied: shapely>=1.6 in /usr/local/lib/python3.7/dist-packages (from geopandas) (1.8.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (57.4.0)
Requirement already satisfied: munch in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2.5.0)
Requirement already satisfied: cligj>=0.5 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (0.7.2)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (2021.10.8)
Requirement already satisfied: click>=4.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (7.1.2)
Requirement already satisfied: six>=1.7 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.15.0)
Requirement already satisfied: click-plugins>=1.0 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (1.1.1)
Requirement already satisfied: attrs>=17 in /usr/local/lib/python3.7/dist-packages (from fiona>=1.8->geopandas) (21.4.0)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (2022.1)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.25.0->geopandas) (1.21.6)

Load Data into df

In [85]:
df = pd.read_csv('Biodiesel_productioncap.csv')
df.columns = df.iloc[0]
df.drop([0,0],inplace=True)
df

0  Rank           State Plants Production
1     1            Iowa     10        445
2     2           Texas      8        375
3     3        Missouri      8        253
4     4        Illinois      5        162
5     5        Arkansas      3        115
6     6      Washington      2        114
7     7         Indiana      3        107
8     8     Mississippi      3        102
9     9    Pennsylvania      2         90
10   10      California      9         85
11   11       Minnesota      3         85
12   12    North Dakota      1         85
13   13            Ohio      2         76
14   14          Kansas      1         60
15   15        Kentucky      1         54
16   16        Oklahoma      1         38
17   17       Tennessee      2         38
18   18     Connecticut      1         33
19   19       Wisconsin      2         32
20   20         Alabama      1         20
21   21         Georgia      3         19
22   22          Oregon      1         17
23   23        Michigan      2         15
24   24        Virginia      3          9
25   25    Rhode Island      1          7
26   26          Hawaii      1          6
27   27  South Carolina      1          5
28   28         Florida      1          4
29   29   New Hampshire      1          4
30   30         Arizona      1          2
31   31  North Carolina      1          2
32   32           Maine      1          1
33   33   Massachusetts      1          1
34   34          Alaska      1       -
35   35         Montana      1          0